@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


body{
  overflow-x: hidden;
  color: black;
  background-color: #f0f0f0cb;
   font-family: "Dosis", sans-serif;
} 


*{
    /* border: 1px solid red; */
    box-sizing: border-box !important;
    list-style-type: none;
    text-decoration: none;
  }   
  



.container{
  max-width: 80%;
  margin: 0 auto;
}  



@media (max-width:540px){
    .container{
        max-width: 90%;
    }
    
}